<form action = "/submit" method = "post">
  First name:<br>
    <input type = "text" name = "firstname"><br>
  Last name:<br>
    <input type = "text" name = "lastname"><br>

  Title:<br>
  <select name = "title">
    <option value="Mr.">Mr.</option>
  </select>

  <input type="submit" value="Will I Survive?">
</form>
